
<app-date-picker (dateChange)="onDateChange($event)"></app-date-picker>

<!-- ====== Barras de progreso ====== -->
<div class="ion-padding" *ngIf="!loading">
  <app-progress-bar [progressValue]="diario.caloriasConsumidas" [maxValue]="planUsuario.caloriasDiarias" color="var(--ion-color-tertiary)" label="Calorías" size="LARGE"></app-progress-bar>
  <ion-row>
    <ion-col size="4">
      <app-progress-bar [progressValue]="diario.carbosConsumidos" [maxValue]="planUsuario.carbosDiarios" color="var(--ion-color-secondary)" label="Hidratos" size="SMALL"></app-progress-bar>
    </ion-col>
    <ion-col size="4">
      <app-progress-bar [progressValue]="diario.proteinasConsumidas" [maxValue]="planUsuario.proteinasDiarias" color="var(--ion-color-warning)" label="Proteínas" size="SMALL"></app-progress-bar>
    </ion-col>
    <ion-col size="4">
      <app-progress-bar [progressValue]="diario.grasasConsumidas" [maxValue]="planUsuario.grasasDiarias" color="var(--ion-color-custom-yellow)" label="Grasas" size="SMALL"></app-progress-bar>
    </ion-col>
  </ion-row>
</div>
<div class="ion-padding ion-text-center" *ngIf="loading">
  <ion-spinner color="secondary"></ion-spinner>
</div>
<!-- ====== Fin Barras de progreso ====== -->

<!-- ====== Registro de alimentos ====== -->
<ion-card *ngFor="let nombreComida of distribucionComidas">
  <ion-card-header>
    <ion-card-title>{{ nombreComida }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
<ion-card *ngFor="let nombreComida of distribucionComidas">
  <ion-card-header>
    <ion-card-title>{{ nombreComida }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
<!-- ====== Registro de alimentos ====== -->

