.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-side {
  text-align: left;
}

.right-side {
  text-align: right;
}

.subtitle {
  color: gray;
  font-size: small;
}
