<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="fa-solid fa-house"></i>
    </ion-tab-button>
    <ion-tab-button tab="alimentos/view">
      <i class="fa-solid fa-utensils"></i>
    </ion-tab-button>
    <ion-tab-button tab="registros-peso/view">
      <i class="fa-solid fa-weight-scale"></i>
    </ion-tab-button>
    <ion-tab-button tab="actividad-fisica/view">
      <i class="fa-solid fa-person-running"></i>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



