<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <i class="fa-solid fa-house"></i>
    </ion-tab-button>
    <ion-tab-button routerLink="/alimentos/view">
      <i class="fa-solid fa-utensils"></i>
    </ion-tab-button>
    <ion-tab-button routerLink="/registros-peso/view">
      <i class="fa-solid fa-weight-scale"></i>
    </ion-tab-button>
    <ion-tab-button routerLink="/actividad-fisica/view">
      <i class="fa-solid fa-person-running"></i>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
