<div class="custom-tab-bar">
  <a class="tab-item" routerLink="/home" routerLinkActive="active">
    <i class="fa-solid fa-house"></i>
  </a>
  <a class="tab-item" routerLink="/alimentos" routerLinkActive="active">
    <i class="fa-solid fa-utensils"></i>
  </a>
  <a class="tab-item" routerLink="/registros-peso" routerLinkActive="active">
    <i class="fa-solid fa-weight-scale"></i>
  </a>
  <a class="tab-item" routerLink="/actividad-fisica" routerLinkActive="active">
    <i class="fa-solid fa-person-running"></i>
  </a>
</div>
