<!-- ======= Segments ======== -->
<ion-segment (ionChange)="onSegmentChange($event)" value="listado">
  <ion-segment-button value="listado">
    <ion-label>Listado</ion-label>
  </ion-segment-button>
  <ion-segment-button value="estadisticas">
    <ion-label>Estadísticas</ion-label>
  </ion-segment-button>
</ion-segment>
<!-- ======= Fin Segments ======== -->

<!-- ======= Date picker ======== -->
<div class="ion-padding">
  <app-date-picker [mode]="'period'" (dateChange)="onDateChange($event)"></app-date-picker>
</div>
<!-- ======= Fin Date picker ======== -->

<!-- ======= Listado de registros de peso ======== -->
<ion-list lines="none" *ngIf="segmentActual === 'listado' && registrosPeso.length > 0" class="ion-padding">
  <ion-item *ngFor="let registro of registrosPeso; let i = index" class="ion-margin-bottom" (click)="presentAlert(registro)">
    <ion-grid>
      <ion-row>
        <ion-col class="date-text" size="5">
          {{ registro.fecha | date: 'dd/MM/yyyy' }}
        </ion-col>
        <ion-col size="4">
          {{ registro.peso }} kg
        </ion-col>
        <ion-col [id]="'variacion' + i" [ngClass]="getVariacionPesoClass(i, variacionesPeso[i])" size="3">
          <b>{{ formatVariacionPeso(i, variacionesPeso[i]) }}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
<!-- ======= Fin Listado de registros de peso ======== -->


<!-- ======= Boton crear registro peso ======== -->
<ion-fab *ngIf="segmentActual === 'listado'" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary" (click)="openPesosFormModal(null)">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- ======= Fin Boton crear registro peso ======== -->
