<!-- ======= Segments ======== -->
<ion-segment (ionChange)="onSegmentChange($event)" [value]="segmentActual">
  <ion-segment-button value="album">
    <ion-label>Álbum</ion-label>
  </ion-segment-button>
  <ion-segment-button value="comparaciones">
    <ion-label>Comparaciones</ion-label>
  </ion-segment-button>
</ion-segment>
<!-- ======= Fin Segments ======== -->

<!-- ======= Album de imagenes ======== -->
<div *ngIf="segmentActual === 'album'" class="ion-padding">
  <app-date-picker [mode]="'day'" [startDate]="selectedDate" (dateChange)="onDateChange($event)"></app-date-picker>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let foto of fotosProgreso; let i = index">
        <ion-img [src]="foto.url" (click)="openLightbox(i, foto.uid)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="fotosProgreso.length == 0" class="no-photos-container">
    <ion-text class="ion-text-center" color="primary">
      <h3>No se ha encontrado ninguna foto</h3>
    </ion-text>
  </div>
</div>
<!-- ======= Fin Album de imagenes ======== -->

<!-- ======= Boton subir foto ======== -->
<ion-fab *ngIf="segmentActual === 'album'" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="/alimentos/barcode-scanner">
      <ion-icon name="image-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<!-- ======= Fin Boton subir foto ======== -->
