<!-- Header con sidebar -->
<ion-menu *ngIf="!simpleHeader" contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar color="success">
      <ion-title color="light"><b>Tech4Diet App</b></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item *ngFor="let item of sidebarItems" color="light" [routerLink]="item.url" routerLinkActive="active-link" (click)="closeMenu()">
        <p class="item-text">
          <i [ngClass]="item.icono"></i>
          {{ item.nombre }}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
